body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.main-first-cinatiner {
    position: relative;
    width: 90%;
    height: 100px;
}

.main-line {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    height: 1px;
    background-color: #333;
    transform: translateY(-50%);
}

.tick {
    position: absolute;
    top: -30px;
    width: 3px;
    height: 60px;
    background-color: #333;
    text-align: center;
    transform: translateX(-50%);
}

.tickBottomArrowLeft {
    /* position: absolute; */
    top: -30px;
    width: 4px;
    height: 52px;
    background-color: #333;
    text-align: center;
    transform: translateX(-50%);
    transform: rotate(-41deg);
    margin-left: 14px;
    margin-top: -5px;
}

.tickTopArrowLeft {
    position: absolute;
    /* top: -30px; */
    width: 4px;
    height: 52px;
    background-color: #333;
    text-align: center;
    transform: translateX(-50%);
    transform: rotate(41deg);
    margin-left: 13px;
    /* margin-top: -5px; */
    bottom: -5px;
}

.tickTopArrowRight {
    position: absolute;
    /* top: -30px; */
    width: 4px;
    height: 52px;
    background-color: #333;
    text-align: center;
    transform: translateX(-50%);
    transform: rotate(-41deg);
    margin-left: -16px;
    /* margin-top: -5px; */
    bottom: -5px;
}

.tickBottomArrowRight {
    position: absolute;
    top: -8px;
    width: 4px;
    height: 52px;
    background-color: #333;
    text-align: center;
    transform: translateX(-50%);
    transform: rotate(45deg);
    margin-left: -15px;
    
}

.tick::after {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

.mainPointFirstShow {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    background-color: #4a4242;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 10px 10px #d7d4d4;
}

.pointerShow {
    position: absolute;
    top: 50%;
    height: 4px;
    background-color: black;
    transform: translateY(-50%);
    z-index: -1;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.left-arrow {
    left: 0;
    border-right: 10px solid #333;
    transform: translateY(-50%);
}

.right-arrow {
    right: 0;
    border-left: 10px solid #333;
    transform: translateY(-50%);
}